@use './generic/font-face';
@use './components/test';

* {
    box-sizing: border-box;
}

.o-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

h1 {
    color: green;
    backdrop-filter: blur(2px);
    @media (width >=600px) {
        color: red;
    }
    @media (width <= 1000px) {
        font-weight: bold;
    }
}


input::placeholder {
    color: green;
    font-weight: bold;
}

body {
    background-image: url('/images/orange-cat.jpg');
}

body {
    background-color: rgba(255, 0, 0, 0.4);
    box-shadow: 0 0 0 #000;
    user-select: none;
}