extends ../layouts/general

block main
    main
        h1 Index
        form.form(action='./', method='post')
            input(type='text', placeholder='some text', required)
            button(type='submit') Enviar
        form.form2(action='./', method='post')
            input(type='text', required)
            button(type='submit') Enviar
        img(src='/images/cats/cat-blue.webp', alt='')
        img(src='/images/dogs/dog.webp', alt='')
        img(src='/images/cats/cat.svg', alt='')
        img(src='/images/dogs/bulldog.svg', alt='')
        +svgIcon('blog')
        +svgIcon('car')