header.c-header 
    .c-container 
        h1.c-header__logo Logo 
        nav.c-header-nav 
            ul.c-header-nav__list
                li.c-header-nav__li: a.c-header-nav__link(href='/about.html') About
                li.c-header-nav__li: a.c-header-nav__link(href='/blog.html') Blog
                li.c-header-nav__li: a.c-header-nav__link(href='/blog/blog-article.html') Blog article
                li.c-header-nav__li: a.c-header-nav__link(href='/contact.html') Contact
        img(src='/src/assets/images/cats/cat-blue.webp', alt='')