include ../components/svgIcon
doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Vite + Vituum Test
        link(rel='stylesheet', href='/src/styles/styles.scss')
    body 
        include ../components/header
        block main
        script(type='module', src='/src/scripts/main.js') 